<div class='main-container'>
    <div class='container'>
        <h2 id='book-title'> <%= title %> </h2>
    </div>
    <div class='container'>
        <h3 id='book-author'> <%= author %></h3>
    </div>
    <div class='container'>
        <p id='book-description'> <%= description %></p>
    </div>
    <div class='container'>
        <p class='reviews'> Reviews: <%= review %></p>
    </div>
<<<<<<< HEAD
    <% if (user) { %>
=======
    <% if (user && user.id === owner ) { %>
>>>>>>> 2bd9f6bb9695d4ca3f3872e7848d3a01faf8a833
    <p><a href='/books/<%= id %>/edit'>Edit</a></p>
    <form action='/books/delete/<%= id %>/' method="POST">
        <input type='submit' value='Delete'>
    </form>
    <%}%>
    <% if (user) { %>
    <form action='/books/review/<%= id %>/' method="POST">
        <p>Review the book:</p>
        <input type='text' name='review' placeholder= 'Review As <%= user.name %>'>
        <input type='submit' value='Submit review'>
    </form>
    <%}%>
    <p><a class='goback' href='/books'>Go to the complete list</a></p>
</div>

