<div class='main-container'>
    <div class='container'>
        <h2 class='title'> Title: <%= title %> </h2>
    </div>
    <div class='container'>
        <p class='author'> Author: <%= author %></p>
    </div>
    <div class='container'>
        <p class='description'> Description: <%= description %></p>
    </div>
    <div class='container'>
        <p class='reviews'> Reviews: <%= review %></p>
    </div>
    <% if (user ) { %>
    <p><a href='/books/<%= id %>/edit'>Edit</a></p>
    <form action='/books/delete/<%= id %>/' method="POST">
        <input type='submit' value='Delete'>
    </form>
    <%}%>
    <% if (user) { %>
    <form action='/books/review/<%= id %>/' method="POST">
        <p>Review the book:</p>
        <input type='text' name='review' placeholder= 'Review As <%= user.name %>'>
        <input type='submit' value='Submit review'>
    </form>
    <%}%>
    <p><a href='/books'>Go to the complete list</a></p>
</div>
